@import "tailwindcss";

:root {
  /* Base Colors - Dark */
  --background: #0a0a0a;
  --foreground: #ededed;


  --primary : #6366f1;

  /* Borders - Dark */
  --border: #27272a;
  --border-focus: var(--primary);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  
  /* Font families - Fredoka */
  --font-family-sans: var(--font-fredoka), system-ui, -apple-system, sans-serif;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-fredoka), system-ui, -apple-system, sans-serif;
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-transform: uppercase;
  /* cursor : none; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--surface);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-600);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
  box-shadow: var(--glow-purple);
}

@layer utilities {
  .common-padding {
    @apply px-5 py-5;
  }
}